[submodule "Gravel/vendor/spdlog"]
	path = Gravel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Gravel/vendor/GLFW"]
	path = Gravel/vendor/GLFW
	url = https://github.com/WizardMorpheus/glfw
[submodule "Gravel/vendor/imgui"]
	path = Gravel/vendor/imgui
	url = https://github.com/TheCherno/imgui
